extends layout

block content
    div
        h3 Select a corpus:
        input(id="fileSelect" type="file" webkitdirectory mozdirectory msdirectory odirectory directory multiple onchange="readFiles(event)")
    br

    div
        form
            h3 Enter a query:
            input(id="query" type="text")
            input(id="searchButton" type="button" value="Search" onclick="processCorpus()")
            input(id="graphButton" type="button" value="Graph" onclick="buildCloud()")
            
            div(id="progressDisplay")
                p Search Progress
                div(id="progressBackground")
                    div(id="progressBar")
                        p 0%
    br
    
    h1(style="text-align:center;") Cluster Cloud
    div(id="graphDisplay")
        div(id="sliderDisplay")
            h3(id="sliderLabel") Detail Level
            input(id="slider" type="range" min="1" value="2" max="5")
            h3(id="graphToggleLabel") Use Clustering?
            input(id="graphToggleCheckbox" type="checkbox" checked)
            h3(id="graphTotalDisplayLabel") Total number of documents displayed:
            input(id="graphTotalValue" type="text")
    svg(id="ClusterCloud")
    br
    
    div(id="preview")
