doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/TextSearch.js")
    script(scr="/javascripts/ClusterCloud.js")
  body
    block content
