doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/TextSearch.js")
    script(src="https://d3js.org/d3.v5.min.js")
    script(src="/javascripts/ClusterCloud.js")
  body
    block content
